{% extends "base.html" %}
{% block content %}
<hr>
<font size=+2>Cuts by Student</font>
<hr>
Query:  SELECT p.First, p.Last, p.StudentID, p.Grade, ScanTime, Status, Date, CourseSection, Attendance, Teacher, Period
FROM scan AS s
INNER JOIN periodAtt AS p
ON s.StudentID=p.StudentID AND substr(ScanTime, 1,inStr(ScanTime, ' ')-1)=p.Date
WHERE Attendance='A'
ORDER BY p.Last, p.First
<hr>
Result:<br></br>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}


{% endblock %}